
p{
/*Content-width and height*/

width:50%;


/*Border*/
	border: 2px solid blue;

/**Padding*/
padding: 10px;

/*padding-left: 100px;*/

/*Margin*/
margin: 50px;

/*margin-left: 200px;*/
/*margin: 20px 40px 100px 150px;*/

}